body {
    background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

}

#container1 {
    width: 68%;
    padding-bottom: 40px;
    /* background-color: yellow; */
    border-radius: 20px;
    margin: 300px 0px 0px 170px;
    box-shadow: 5px 25px 50px #000000eb,
        -3px -3px 25px #202020;
    background-color: #e4e4e4;
    font-size: 2.5rem;
}

.socials {
    display: flex;
    flex-shrink: 1;
    justify-content: end;
    height: 10%;
    /* background-color: blue; */
}

.socials>a:hover {
    box-shadow: 3px 3px 5px black;
}

.instagram {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    /* height:220px; */
    margin: 0 100px 0 0;
}

.linkedin {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    /* height:150px; */
    margin: 0 100px 0 0;
}

.github {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    /* height:150px; */
    margin: 0 100px 0 0;
}

.codeforces {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    /* height:150px; */
    border: 1px solid black;
}

#internal {
    display: flex;
    justify-content: space-around;
    flex-shrink: 1;
}

.name {
    font-family: fantasy;
    font-size: 70px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

header {
    height: 10rem;
    background-color: #c39d95;
    border-radius: 20px;
    /* padding-bottom: 20px; */
}

button {
    border-radius: 30px;
    background-color: #b17963;
    height: 100px;
    width: 400px;
    font-size: 50px;
    color: #370b04
}

button:hover {
    box-shadow: 3px 3px 2px black;
    text-shadow: 1px 1px 1px black;
}

.content>img {
    border-radius: 50%;
    margin: 60px 0px 0px 45px;
    height: 100rem;
    border: 8px solid #370b04;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

a {
    color: #370b04
}

a:hover {
    text-shadow: 1px 1px 1px #270804;
}

.intro {
    margin:0 0 0 100px;
    font-size: 5rem;
}

#container2 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 95px;
    /* background: transparent; */
    background-color: rgba(202, 109, 48, 0.288);
    width: 94%;
    margin: auto;
}

.aboutme {
    background-color: rgba(197, 132, 72, 0.405);
    width: 92%;
    margin: auto;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 7px;
}

ul {
    font-size: 95px;
}

#projects {
    font-size: 80px;
    margin: 50px 0;
}

.myproj {
    width: 94%;
    margin: auto;
    background-color: rgba(202, 109, 48, 0.288);
    text-align: center;
    padding-bottom: 50px;
}

.myprojects {
    background-color: rgba(197, 132, 72, 0.405);
    width: 92%;
    margin: auto;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 7px;
    font-size: 95px
}

ol {
    padding: 0 0 0 70px;
}

/* ol>a {
    margin: 0 0 0 500px;
} */

ol>a:hover {
    color: rgb(26, 10, 0);
    text-shadow: 2px 2px 2px black;
}

footer {
    background-color: rgb(67, 67, 67);
    height:18rem;
    width: 100%;
    font-size: 75px;
    text-align: center;
}


@keyframes anime {
    0% {
        border-radius: 25%;
    }

    50% {
        border-radius: 50%;
    }

    100% {
        border-radius: 25%;
    }
}

@media(max-width:1000px) {
    #internal {
        display: flex;
        flex-shrink: 1;
        flex-direction: column;
        align-items: center;
    }

    /* #container1 {
        width: 2800px;
        height: 4400px;
        margin-right:100px; 
    } */

    /* #container2 {
        width: 3000px;
        margin: 100px 80px 50px 100px;
    } */

    /* .aboutme {
        width: 2500px;
    } */

    /* .myproj {
        width: 3000px;
        margin: 200px 80px 50px 100px;
    } */

    /* .myprojects {
        width: 2500px;
    } */

    ol>a {
        margin: 0 0 0 400px;
    }

    /* footer {
        width: 3200px;
    } */

    footer>p {
        text-align: center;
    }

    /* .contact{
        margin:200px 80px 50px 100px;
        width:3000px;
    } */
}

form>button {
    height: 150px;
}

input {
    height: 150px;
    font-size: 100px;
}

input:hover {
    border: 7px solid black;
}

textarea:hover {
    border: 7px solid black;
}

.form>button:hover {
    box-shadow: 2px 2px 3px black;
}

@media(max-width:600px) {
    #internal {
        display: flex;
        flex-shrink: 1;
        flex-direction: column;
        align-items: center;
    }

    /* header {
        height: 250px;
        flex-shrink: 1;
    }

    #container1 {
        width: 2000px;
        height: 4550px;
        /* margin-right:100px; 
    }

    #container2 {
        width: 2300px;
        margin: 100px 80px 50px 50px;
    }

    .aboutme {
        width: 2000px;
    }

    .myproj {
        width: 2300px;
        margin: 200px 80px 50px 50px;
    }

    .myprojects {
        width: 2000px;
    } */

    ol>a {
        margin: 0 0 0 100px;
    }

    /* footer {
        width: 2350px;
    } */

    footer>p {
        text-align: center;
    }
}